.popovercontainer {
  background: white;
}

.popoverride {
  z-index: 2;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  background: transparent;
  transform: translateX(-20%) !important;
  svg {
    display: none;
  }
}
