@import '~@styles/index.less';
.trust {
  padding: 24px;
  .tableContainer {
    .mixin_tableContainer();
  }

  .withdraw {
    margin-top: 46px;
    button {
      background: unset;
      font-weight: bold;
      color: @fontgray;
    }
  }

  .title {
    display: flex;
    justify-content: flex-start;
    span {
      font-size: 14px;
      color: #003E00;
      line-height: 16px;
    }
  }

  .withdrawTitle {
    i {
      color: #F6C94A;
    }
  }
}
