@import '~@styles/index.less';
.trust {
  padding: 24px;
  .tableContainer {
    .mixin_tableContainer();
  }

  .withdraw {
    margin-top: 46px;
    button {
      background: unset;
      font-weight: bold;
      color: @fontgray;
    }
  }

  .title {
    display: flex;
    justify-content: flex-start;
    span {
      font-size: 14px;
      color: #003E00;
      line-height: 16px;
    }

    & > div:last-of-type {
      display: flex;
      justify-content: space-between;
      flex: 1;
      button {
        background: unset;
        i {
          color: #F6C94A;
        }
        span {
          font-weight: 500;
          color: @fontgray;
        }
      }
    }
  }

  .signStatus{
    border:1px solid @yellow;
    padding:20px;
    margin:40px 0;
    >ul{
      li{
        i{
          &.success{
            color:@yellow;
          }
        }
        display: flex;
        align-items: center;
        span{
          margin-left: 8px;
          margin-right: 20px;
        }
        ul{
          display: flex;
          li+li{
            margin-left: 10px;
          }
          li{
            font-size: 12px;
            padding:6px 12px;
            background: #F5F5F5;
            border: 1px solid #E3E3E3;
            border-radius: 14px;
          }
        }
      }
    }
  }

  .withdrawTitle {
    i {
      color: #F6C94A;
    }
  }
}
