@import '~@styles/index.less';

.asset {
  padding: 24px;
  .tableContainer {
    .mixin_tableContainer();
  }

  > ul {
    > li + li {
      margin-top: 32px;
    }
  }

  .miniLogo {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
}
