@import '~@styles/index.less';

.modalcontainer {
  padding: 20px 24px;
  background: white;
  .header {
    margin: 0 -24px;
    padding: 0 24px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .label {
      font-size: 16px;
      color: #555555;
    }
    border-bottom: 1px solid #dce0e2;
  }
  .button {
    margin-top: 20px;
  }
}
