.ClaimConditionModal{
  .grayBlock{
    height:62px;
    background: #F2F3F4;
    border: 1px solid #DCE0E2;
    margin:0 -24px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .claimHeight,.pcxlock{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .claimHeight{
    margin-top: 16px;
  }
  .pcxlock{
    margin-top: 12px;
  }

}
