@import '~@styles/index.less';
.tip {
  // display: flex;
  // align-items: center;
}

.tool {
  z-index: 10000;
  font-size: 14px;
  max-width: 300px;
  line-height: 20px;
  // font-weight: lighter !important;
  font-weight: 400;
  &.large {
    max-width: 400px;
  }
}
