@import '~@styles/index.less';
.tip {
   //display: flex;
   //align-items: center;
}

.tool {
  z-index: 10000;
  font-size: 12px;
  max-width: 420px;
  word-break: break-all;
  line-height: 20px;
  // font-weight: lighter !important;
  font-weight: 400;
  &.large {
    max-width: 430px;
  }
}
