@import '~@styles/variables.less';
.deleteAddressModal {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  button + button {
    margin-left: 16px;
  }
  button {
    cursor: pointer;
    background: unset;
    border: 1px solid #dce0e2;
    border-radius: 2px;
    width: 200px;
    height: 40px;
    &.confirm {
      background: @blue;
      color: white;
      border-color: @blue;
    }
  }
}
