@import '~@styles/index.less';
.ConstructSpecialTradeModal{
  .errMsg{
    margin-top: 15px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:@red;
  }
  .tosign{
    display: flex;
  }
}
