@import '~@styles/variables.less';
.crossChainBind {
  .recommendChannel{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    button{
      width:200px;
      height:40px;
    }
  }
  .tradeid{
    margin:12px 0 28px;
    button{
      margin-top: 32px;
    }
  }
  .desc {
    margin-top: 20px;
    line-height: 22px;
    padding-left: 4px;
    position: relative;
    > .step {
      font-weight: bold;
      color: @yellow;
      margin-right: 8px;
    }
    .coverclick {
      background: transparent;
      width: 100px;
      height: 32px;
      left: -30px;
      right: 0;
      top: -9px;
      bottom: 0;
    }
  }

  .anchor {
    position:relative;
    cursor: pointer;
    color: #3da0d2;
    &:not(:first-of-type) {
      margin-left: 5px;
    }
    .imgtip{
      opacity:1;
      padding:0;
      overflow: hidden;
      background-color:transparent;
      margin-top: 5px;
    }
  }

  .depositaddress {
    align-items: flex-start !important;
    height:72px !important;
    flex-direction: column;
    padding:16px;
    .depositaddresstitle{
      width:100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      button{
        i{
          color: @yellow;
        }
        padding:0;
        height:unset;
      }
    }
    .label{
      font-weight: bold;
      span{
        font-weight: 400;
      }

    }
    .depositaddressvalue{
      color:#959595;
    }
  }
  .bitcoinlinks{
    padding:20px 16px;
    justify-content: flex-start !important;
    display: flex;
    flex-wrap: wrap;
    height:unset !important;
    i{
      color:#7B7F82;
      margin-left: 4px;
    }
    ul{
      margin-top: 16px;

      width:100%;
      li+li{
        margin-top: 10px;
      }
      li{
        color: #959595;
        display: flex;
      }
    }

  }

  .grayblock1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f3f4;
    border: 1px solid #dce0e2;
    margin-bottom: 24px;

    >div{
      padding:16px;
      line-height: 20px;
    }

  }


  .grayblock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    background: #f2f3f4;
    border: 1px solid #dce0e2;
    border-radius: 1px;
    margin:16px 0;
    img {
      height: 162px;
    }
    &.addressall {
      &.btcopreturn{
        height:unset;
        .address{
          display: unset;
        }
      }
      &.sdot{
        height:unset;
        padding:16px;
        &.en{
          min-height: 135px;
        }
        .OP_RETURNcopy{
          .dataerror{
            margin-top: 10px;
            font-weight: bold;
            font-size: 12px;
            color:#3F3F3F;
            span{
              color:@red;
            }
          }

        }
      }
      height: 105px;
      display: flex;
      justify-content: center;
      padding: 16px;
      .address + .address {
        margin-top: 24px;
      }

      .address {
        float:right;
        width:100%;
        height:100%;
        position:relative;
        text-align: center;
        word-break: break-all;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .OP_RETURNtitle{
          font-weight:bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .OP_RETURNcopy{
          line-height: 18px;
          margin-top: 15px;
          color: #959595;
          text-align: left;
          i{
            margin-left: 6px;
          }
        }
      }
    }
  }

  .warn{
    margin-top: 24px;
  }

  .hoverImg {
    display: flex;
    flex-wrap: wrap;
    span {
      position: relative;
      &:hover {
        .hoverimg {
          display: block;
        }
      }

      .hoverimg {
        display: none;
        position: absolute;
        bottom: 12px;
      }
    }
  }
}

.isolatedWitness{
  color:@red;
}

.userInstructions{
  line-height: 20px;
  .description{
    background: #F2F3F4;
    border: 1px solid #DCE0E2;
    border-radius: 1px;
    padding:16px 20px;
    .chinxbitoin{
      margin-bottom: 10px;
      span{
        color:@red;
      }
    }
    .supportopreturn{
      margin-bottom: 16px;
      .notice{
        font-size: 12px;
        color:@red;
      }
    }
    .twosorts{
      margin-bottom: 16px;
    }
    .sortfirst,.sortsecond{
      .sorttitle{
        margin-bottom: 10px;
        font-weight: bold;
        span{
          color:@yellow;
          margin-right: 10px;
        }

      }
      .examplewallet{
        font-weight: bold;
      }
    }
    .sortfirst{
      margin-bottom: 16px;
    }
  }

  .agree{
    margin:20px 0 16px;
  }
  .warning{
    strong{
      color:@red;
    }
  }

}

.addChannel{
  height:unset !important;
  margin-top: 16px;
  .addChanneldesc{
    color:#959595;
  }
}
