@import '~@styles/variables.less';
.crossChainBind {
  .desc {
    line-height: 22px;
    padding-left: 4px;
    position: relative;
    > div {
      top: 3px;
      left: -4px;
      background: @yellow;
      width: 4px;
      height: 14px;
      position: absolute;
    }
    .coverclick {
      background: transparent;
      width: 100px;
      height: 32px;
      left: -30px;
      right: 0;
      top: -9px;
      bottom: 0;
    }
  }

  .anchor {
    cursor: pointer;
    color: #3da0d2;
    &:not(:first-of-type) {
      margin-left: 5px;
    }
  }

  .depositaddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    .label {
      margin-bottom: 16px;
      font-weight: bold;
    }
  }

  .grayblock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    background: #f2f3f4;
    border: 1px solid #dce0e2;
    border-radius: 1px;
    margin: 16px 0 24px;
    img {
      height: 162px;
    }
    &.addressall {
      line-height: 20px;
      justify-content: space-between;
      height: 144px;
      display: flex;
      padding: 16px 12px;
      .address + .address {
        margin-top: 24px;
      }

      .address {
        word-break: break-all;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        button {
          margin-top: 10px;
          height: 32px;
          width: 102px;
          background: #ffffff;
          border: 1px solid #dce0e2;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          .desc {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
