@import '~@styles/index.less';
.mixinCommon() {
  .title {
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 40px;
  }

  .tab {
    height: 100%;
    li {
      height: 100%;
      padding: 10px 0;
    }
  }

  .tableContainer {
    .mixin_tableContainer();
    :global {
      .table {
        .tr {
          padding: 0 12px;
        }
        .thead {
          .tr {
            background: #fcfdfd;
            .th {
              font-size: 14px;
              font-weight: 400;
              color: #95989a;
            }
          }
        }
      }
    }
  }
}
