@import '~@styles/index.less';

.election {
  padding: 24px;
  .tableContainer {
    .mixin_tableContainer();
  }
  .tabLine {
    .mixin_tabLine;
    display: flex;
    justify-content: space-between;
  }
  .titledesc {
    .tableTitle {
      margin: 10px 0;
      position: relative;
      top: -45px;
    }
    .desc {
      display: flex;
      align-items: center;
      height: 62px;
    }
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.trustee{
  display: flex;
  align-items: center;
  img {
    height: 15px;
    margin-left: 8px;
  }
}

.name {
  display: flex;
  & > span {
    display: flex;
    align-items: center;
  }


  .leaveOut{
    font-size: 12px;
    color:#959595;
  }

}
