@import '~@styles/index.less';

.election {
  padding: 24px;
  .tableContainer {
    .mixin_tableContainer();
  }
  .tabLine {
    .mixin_tabLine;
  }
  .titledesc {
    .tableTitle {
      margin-bottom: 0;
    }
    .desc {
      display: flex;
      align-items: center;
      height: 62px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
