@import '~@styles/index.less';
.node {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  > div {
    span + span {
      margin-left: 20px;
    }
  }
  > ul {
    display: flex;
    justify-content: space-between;
    > li + li {
      margin-left: 32px;
    }
    > li {
      &:first-of-type {
        z-index: 3;
      }
      display: flex;
      align-items: center;
      position: relative;
      .xinhao {
        margin-right: 4px;
      }
      .apiornodename{
        color:@fontgray;
      }
      .triangle {
        margin-left: 4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 6px 4px;
        border-color: transparent transparent @yellow transparent;
      }
      &:hover {
        .switchNode {
          display: block;
        }
      }
      .switchNode {
        &.switchfirst {
          z-index: 1;
        }
        position: absolute;
        right: 0;
        width: 182px;
        bottom: 0;
        padding-bottom: 30px;
        display: none;
        > ul {
          border-radius: 4px;
          background: white;
          padding-top: 8px;
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
          li {
            cursor: pointer;
            padding: 16px 24px;

            &:hover,&.active{
              background: #f6f3f1;
            }
            display: flex;
            white-space:nowrap;
            .name{
              width: 160px;
              max-width: 160px;
              overflow: hidden;
              line-height: 16px;
              text-overflow: ellipsis;
            }

            &.api {
              align-items: center;
              display: flex;
            }
            &.header {

              border-top: 1px solid #dce0e2;
              padding: 16px 24px;
              > span{
                .mixin_ellipse();
              }
            }
            &.footer {
              // margin: 0 -24px;
              // padding: 8px 24px;
              // padding-top: 16px;
              display: flex;
              justify-content: center;
              border-top: 1px solid #dce0e2;
            }
            .time {
              margin-left: 24px;
            }
            color: #555555;
            .check {
              height: unset;
            }
          }
        }
      }
    }
  }


}

.toast{
  .title{
    margin:0 -24px;
    padding:0 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCE0E2;
    margin-bottom: 24px;
  }
}
