@import '~@styles/index.less';
.trusteeGovern{
  padding:24px;
  table.trusteeList{
    width:100%;
    border-collapse:collapse;
    tbody{
      width:100%;
    }
    tr{
      td{
        width:205px;
        height:56px;
        border: 1px solid #DCE0E2;
        div{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .hotAndCold{
    margin-top: -1px;
    ul{
      display: flex;
      li+li{
        border-left: unset;
      }
      li{
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:88px;
        width:50%;
        background: #FCFDFD;
        border: 1px solid #DCE0E2;
        >div+div{

          margin-top: 16px;
        }
      }

    }
  }

  .CurrentProposal{
    margin-top: 32px;
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:56px;
      padding:0 16px;
      border: 1px solid #DCE0E2;
      border-bottom: unset;
      border-radius: 2px;
      font-weight: bold;
      font-size: 16px;
      color: #3F3F3F;
      button{
        font-size: 14px;
      }
    }
    ul{
      display: flex;
      li+li{
        border-left: unset;
      }
      li{
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width:25%;
        height:56px;
        border: 1px solid #DCE0E2;
        &.active{
          border: 1px solid #F6C94A;
        }
      }
    }
    .ProposalSwitchTrustee{
      .signList{
        height:68px;
      }
      .tableContainer {
        .mixin_tableContainer();
      }

    }
  }
}
